<div>

<h1>
    <marquee>Welcome to Blogs App!</marquee>
</h1>
<!-- <div class="row"> -->
    <!-- <div class="col-sm-5">  <!-- style="text-align: center"> -->
      <!--  <form class="ui form">
            <div class="field">
                <label>Your Blog's Title</label>
                <input type="text" name="blog-title" placeholder="Blog Title">
            </div>
            <div class="field">
                <label> Your Full Name</label>
                <input type="text" name="full-name" placeholder="Full Name">
            </div>
            <div class="field">
              <label> Your Email ID</label>
              <input type="text" name="email-id" placeholder="Email ID">
            </div>
            <div class="field">
              <label>Your Blog Content</label>
              <textarea rows="4" cols="50" name="comment" placeholder="Enter your blog...">
                </textarea>
              <!-- <input type="textarea" name="blog-content" placeholder="Blog Content"> -->
     <!--       </div>
            <div class="field">
              <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden">
              <label>Hidden</label>
              </div>
            </div>
            <div class="field">
              <label>Votes</label>
              <p>{{ votes }}</p>
            </div>
            <div class="field">
              <label>Likes</label>
              <p>{{ likes }}</p>
            </div>
            <div class="field">
              <label>Dislikes</label>
              <p>{{ dislikes }}</p>
            </div>
            <button class="btn-success" type="submit">Submit</button>
        </form>
    </div> -->
<!-- </div> -->
<button (click)="this.showModal = !this.showModal" class="huge fluid ui button">Add a Blog</button>
<br>
<!-- <div class="ui segment">
    <sui-dimmer class="page" [(isDimmed)]="showModal" style="z-index:2;">
        <h2 class="ui inverted icon header">
        </h2>
    </sui-dimmer>
</div> -->
<!-- <div *ngIf="this.showModal" class="ui active dimmer" style="z-index:2; height:200%"></div> -->

<sui-modal [isClosable]="true" [isFullScreen]="true" [mustScroll]="true" *ngIf="this.showModal">
    <!-- <div *ngIf="this.showModal" class="ui fullscreen active modal" style="z-index:3; height:200%"> -->
    
  <!-- <div class="ui fullscreen active modal"> -->
    <!-- <div *ngIf="this.showModal" class="ui blurring raised segment"> -->
      <!-- <i (click)="this.showModal = !this.showModal" class="close icon"></i> -->
          <div class="header">
            Add a blog
          </div>
          <div class="scrolling content">
            <div class="ui form">
              <form (ngSubmit)= "onSubmitBlog(f.value)" #f="ngForm">
                      <label class="form-group">Your Blog's Title   </label>
                      <input class="form-group" type="text" ngModel name="title" placeholder="Blog Title">
                  
                      <label class="form-group"> Your Full Name   </label>
                      <input class="form-group" type="text" ngModel name="author" placeholder="Full Name" >
                  
                      <label class="form-group"> Your Email ID   </label>
                      <input class="form-group" type="text" name="email" placeholder="Email ID" ngModel>
                    
                      <label class="form-group">Your Blog Content   </label>
                      <textarea class="form-group" rows="7" name="body" ngModel>
                      </textarea>
                    <!-- <input type="textarea" name="blog-content" placeholder="Blog Content"> -->
                      <div>
                        <input class="form-group" type="checkbox" name="hidden" style="margin-top:12px" ngModel>
                        <label class="form-group ui checkbox">Hidden</label>
                      </div>
                      <br>
                      <label class="form-group">Votes</label>
                      <input class="form-group" type="text" name="meta.votes" placeholder="Number of Votes" ngModel>
                      <label class="form-group">Likes</label>
                      <input class="form-group" type="text" name="meta.likes" placeholder="Number of Likes" ngModel>
                      <label class="form-group">Dislikes</label>
                      <input class="form-group" type="text" name="meta.dislikes" placeholder="Number of Dislikes" ngModel>
                      <!-- <button class="btn-success" type="submit">Submit</button> -->
                      <!-- <div class="actions"> -->
                        <!-- <div (click)="this.showModal = !this.showModal" class="ui button">Cancel</div>
                          <div (click)="this.showModal = !this.showModal" class="ui button">OK</div> -->
                          <button (click)="f.reset()" class="ui right floated secondary button" >Reset All Values</button>
                          <button (click)="this.showModal = !this.showModal" class="ui right floated red button" >Cancel</button>
                          <input class="ui right floated green button" type="submit">
                          <!-- </div> -->
                        </form>
                      </div>
          <!-- </div> -->
    </div>
    <br><br><br><br><br>
 </sui-modal>



<div class="container">
  <div *ngFor = "let blog of blogs">
      <div class="col-md-3">
          <div class="ui card">
              <div class="content">
                  <div class="header">{{blog.title}}</div>
                </div>
              <div class="content">
                <h4 class="ui right floated sub header"> Created on - {{dateConverter(blog.date)}}</h4>
                <!-- <hr> -->
                <br>
                <div class="ui small feed">
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                          {{blog.body}}
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                          <div class="ui checkbox">
                              <input type="checkbox" tabindex="0" class="hidden">
                              <label>Hidden</label>
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="content">
                       <div class="summary">
                            <div class=" ui labeled button" tabindex="0">
                                <div class="fluid ui inverted blue button">
                                   <i class="users icon"></i> Votes
                                </div>
                                <a class="ui basic blue left pointing label">
                                   {{blog.meta.votes}}                            
                                </a>
                              </div>
                        </div>
                        <div class="summary">
                            <div class="ui labeled button" tabindex="0">
                                <div class="fluid ui inverted green button">
                                    <i class="thumbs up outline icon"></i> Likes    
                                </div>
                                <a class="ui basic green left pointing label">
                                    {{blog.meta.likes}}
                                </a>
                            </div>
                        </div>
                        <div class="summary">
                            <div class="ui labeled button" tabindex="0">
                                <div class="fluid ui inverted secondary button">
                                    <i class="thumbs down outline icon"></i> Dislikes
                                </div>
                                <a class="ui basic secondary left pointing label">
                                    {{blog.meta.dislikes}}
                                </a>
                            </div>
                        </div>
                      </div> <!--
                      <div class="summary">
                         <div class="tiny ui vertical buttons">
                            <div class="ui labeled left floated button" tabindex="0">
                                <div class="fluid ui inverted primary button">
                                   <i class="users icon"></i> Votes
                                   <div class="ui basic blue left pointing label">
                                     {{blog.meta.votes}}                            
                                    </div>
                                </div>
                            </div>

                            <div class="ui labeled left floated button" tabindex="0">
                                <div class="ui inverted green button">
                                    <i class="thumbs up outline icon"></i> Likes
                                    <div class="ui basic green left pointing label">
                                      {{blog.meta.likes}}
                                    </div>
                                </div>
                            </div>

                            <div class="ui labeled left floated  button" tabindex="0">
                                <div class="ui inverted secondary button">
                                    <i class="thumbs down outline icon"></i> Dislikes
                                    <div class="ui basic secondary left pointing label">
                                      {{blog.meta.dislikes}}
                                    </div>
                                  </div>
                            </div>
                         </div>

                      </div>-->
                    </div> 
                  </div>
                </div>
              </div>
              <div class="extra content">
                  <div class="fluid ui buttons">
                    <button class="big ui right floated secondary basic button">Update </button>
                    <!-- <div class=" or"></div> -->
                    <button class="big ui left floated negative button" (click)="deleteBlog(blog._id)">Delete </button>
                  </div>
              </div>
              <div class="extra content">
                  <p>For more info contact : </p>
                  <p>{{blog.author}} <<a>{{blog.email}}</a>> </p><hr>
              </div>
          </div>
      </div>        
  </div>
</div>
</div>