<h1>
    <marquee>Welcome to Blogs App!</marquee>
</h1>
<!-- <div class="row"> -->
    <div class="col-sm-5">  <!-- style="text-align: center"> -->
        <form class="ui form">
            <div class="field">
                <label>Your Blog's Title</label>
                <input type="text" name="blog-title" placeholder="Blog Title">
            </div>
            <div class="field">
                <label> Your Full Name</label>
                <input type="text" name="full-name" placeholder="Full Name">
            </div>
            <div class="field">
              <label> Your Email ID</label>
              <input type="text" name="email-id" placeholder="Email ID">
            </div>
            <div class="field">
              <label>Your Blog Content</label>
              <input type="text" name="blog-content" placeholder="Blog Content">
            </div>
            <div class="field">
              <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden">
              <label>Hidden</label>
              </div>
            </div>
            <div class="field">
              <label>Votes</label>
              <p>{{ votes }}</p>
            </div>
            <div class="field">
              <label>Likes</label>
              <p>{{ likes }}</p>
            </div>
            <div class="field">
              <label>Dislikes</label>
              <p>{{ dislikes }}</p>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
<!-- </div> -->

<br><br><br><br><br><br>

<div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Modal Title
        </div>
        <div class="image content">
            <div class="image">
            An image can appear on left or an icon
            </div>
            <div class="description">
            A description can appear on the right
            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
        </div>
</div>

<br><br><br><br><br><br>

<div class="ui card">
    <div class="content">
      <div class="header">Project Timeline</div>
    </div>
    <div class="content">
      <h4 class="ui sub header">Activity</h4>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
               <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
               <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
               <a>Helen Troy</a> added two pictures
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <button class="ui button">Join Project</button>
    </div>
  </div>