<h1>
    <marquee>Welcome to Blogs App!</marquee>
</h1>
<!-- <div class="row"> -->
    <!-- <div class="col-sm-5">  <!-- style="text-align: center"> -->
      <!--  <form class="ui form">
            <div class="field">
                <label>Your Blog's Title</label>
                <input type="text" name="blog-title" placeholder="Blog Title">
            </div>
            <div class="field">
                <label> Your Full Name</label>
                <input type="text" name="full-name" placeholder="Full Name">
            </div>
            <div class="field">
              <label> Your Email ID</label>
              <input type="text" name="email-id" placeholder="Email ID">
            </div>
            <div class="field">
              <label>Your Blog Content</label>
              <textarea rows="4" cols="50" name="comment" placeholder="Enter your blog...">
                </textarea>
              <!-- <input type="textarea" name="blog-content" placeholder="Blog Content"> -->
     <!--       </div>
            <div class="field">
              <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden">
              <label>Hidden</label>
              </div>
            </div>
            <div class="field">
              <label>Votes</label>
              <p>{{ votes }}</p>
            </div>
            <div class="field">
              <label>Likes</label>
              <p>{{ likes }}</p>
            </div>
            <div class="field">
              <label>Dislikes</label>
              <p>{{ dislikes }}</p>
            </div>
            <button class="btn-success" type="submit">Submit</button>
        </form>
    </div> -->
<!-- </div> -->

<br><br><br><br><br><br>
<div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Modal Title
        </div>
        <div class="image content">
            <div class="image">
            An image can appear on left or an icon
            </div>
            <div class="description">
            A description can appear on the right
            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
        </div>
</div>

<div class="container">
  <div *ngFor = "let blog of blogs">
      <div class="col-md-3">
          <div class="ui card">
              <div class="content">
                  <div class="header">{{blog.title}}</div>
                </div>
              <div class="content">
                <h4 class="ui sub header">To contact {{blog.author}}, Please contact <a>{{blog.email}}</a></h4>
                <div class="ui small feed">
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                          {{blog.body}}
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                          <div class="ui checkbox">
                              <input type="checkbox" tabindex="0" class="hidden">
                              <label>Hidden</label>
                      </div>
                    </div>
                  </div>
                  <div class="event">
                    <div class="content">
                        <div class="summary">
                          Votes - {{blog.meta.votes}}
                        </div>
                        <div class="summary">
                          Likes - {{blog.meta.likes}}
                        </div>
                        <div class="summary">
                          Dislikes - {{blog.meta.dislikes}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="extra content">
                  <div class="fluid ui buttons">
                      <button class="ui left floated negative button">Delete </button>
                      <div class="or"></div>
                      <button class="ui right floated button">Update </button>
                  </div>
              </div>
            </div>
      </div>        
  </div>
</div>